/* custom header bar background */
#header {
	background-color: #29738e;
	background-image: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}
/* adjust buttons for custom bar background */
#header button {
	color: white;
}
#header button img {
	filter: brightness(1000%);
}

/* custom login screen background */
#login-bg {
	background-image: url('../img/mybg.jpg');
}
